/* responsive social media website */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width:990px;
    margin:40px auto;
    display: flex;
   
}
.feeds{
    width:590px;
}
.feed{
    border:1px solid lightgray;
    padding:8px;
    border-radius: 14px;
    margin-bottom: 28px;
}
.feed-img{
    width:100%;
    border-radius: 14px;

}
.sidebar{
    width:400px;
}
.profile{
    display: flex;
    gap:7px;
    margin-bottom: 24px;
    align-items: center;
}
.user{
    height:40px;
    width:40px;
    border-radius: 50%;;
}
.name{
    margin:0;
}
.user_name{
    margin:0;
    color:rgb(80, 80, 80);
    font-size:14px;
}
.icons{
    display: flex;
    justify-content: space-between;
}
